@model IEnumerable<VideoViewModel>

@{
    ViewBag.Title = "Home";
}

<table>
    @foreach (var video in Model)
    {
        @Html.Partial("_Video", video)
    }
</table>

<a asp-action="Create" class="btn btn-success" >Create</a>

